.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.container{
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.shutterstock.com%2Fsearch%2Felevator%2Bpitch&psig=AOvVaw0Ais3uj3Xo3JB8Px4VmDTP&ust=1588784681117000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCIDkr6ianekCFQAAAAAdAAAAABAH');
}