{% extends 'base.html'%}
{% block styles%} {{ super() }}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
 {% endblock %}

{% block content %}

<body>
  <div class="container">
    <div class="row"> 
        <br>
        <div class="col-md-12">
            <img src="/static/images/pitch.png" class="center">
        </div>
        <br>
        <br>
        <div class="col-md-12">
        <p style="font-size: 20px; float:left;"> <strong> In life you only have 60 seconds to impress someone. 
        One minute to make or break you. How do we make sure that you use your one minute to actually say something meaningful ? </strong> </p>
        </div> 
    </div>
  
  <br>
  <div class="d-flex justify-content-center">
    <div class="card-groups">
      <div class="card border-info mb-5" style="width: 50rem;height: 20rem;">
        <div class="card-header">Life</div>
        <div class="card-body text-info">
          <br>
          <br>
          <h5 class="card-title">Pitches about life</h5>
          <p class="card-text">Want to change peoples mindsets, then give a pitch on best life practices!!</p>
          <button type="button" class="btn btn-outline-primary"><a href="{{url_for('main.new_pitch')}}">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="/categories/life">Read Pitches</a></button>
        </div>
      </div>

      <div class="card border-info mb-5" style="width: 50rem;height: 20rem;">
        <div class="card-header">Coding</div>
        <div class="card-body text-info">
          <br>
          <br>
          <h5 class="card-title">Pitches about coding</h5>
          <p class="card-text">Want to change peoples mindsets, then give a pitch on best coding practices!!</p>
          <button type="button" class="btn btn-outline-primary"><a href="{{url_for('main.new_pitch')}}">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="/categories/coding">Read Pitches</a></button>
        </div>
      </div>

      <div class="card border-info mb-5" style="width: 50rem;height: 20rem;">
        <div class="card-header">Love</div>
        <div class="card-body text-info">
          <br>
          <br>
          <h5 class="card-title">Love Pitches</h5>
          <p class="card-text">Want to change peoples mindsets, then give a pitch on how best to make things fun!!</p>
          <button type="button" class="btn btn-outline-primary"><a href="{{url_for('main.new_pitch')}}">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="/categories/love">Read Pitches</a></button>
        </div>
      </div>

      <div class="card border-info mb-5" style="width: 50rem;height: 20rem;">
        <div class="card-header">Happiness</div>
        <div class="card-body text-info">
          <br>
          <br>
          <h5 class="card-title">Happiness Pitches</h5>
          <p class="card-text">Want to change peoples mindsets, then give a pitch on how best to make things fun!!</p>
          <button type="button" class="btn btn-outline-primary"><a href="{{url_for('main.new_pitch')}}">Add Pitch</a></button>
          <button type="button" class="btn btn-outline-primary"><a href="/categories/Happiness">Read Pitches</a></button>
        </div>
      </div>

    </div>
  </div>
</div>

  {% endblock%}
</body>